<table>
    <thead>
        <tr>
        <th>Nome</th>
        <th>Matrícula</th>
        <th>Código do Processo</th>
        <th>Status</th>
        <th colspan="1"></th>
        </tr>
    </thead>

    <tbody>

    </tbody>
</table>